{% extends "base.html" %}
{% block body %}
    <main>
        <h1 class="form-header">Choose a test to take</h1>
        <div class="test-card">
            {% if acct_type == 'student' or acct_type == 'admin' %}
                {% if tests %}
                    {% for test in tests %}
                        <a href="/tests/{{ test['test_name'] }}">{{ test['test_name'] }} - Posted by: {{ test['created_by'] }} on {{ test['date_created'] }}</a>                            
                    {% endfor %}
                {% else %}
                    <h2>No tests available</h2>
                {% endif %}
            {% else %}
                <h2>You need to login or register with a student account to take a test.</h2>
            {% endif %}
        </div>
    </main>
{% endblock %}