{% extends "base.html" %}
{% block body %}
    <main>
        {% if loggedin == creator or acct_type == 'admin' %}
        <form method="POST" class="test-card">
            <input type="text" placeholder="Test name..." class="question" name="test-name" value="{{ test['test_name'] }}" required autocomplete="off">
            {% for question in questions %}
                <p class="question">{{ loop.index }}.</p>
                <textarea placeholder="Question..." name="question-{{ loop.index }}" required autocomplete="off">{{ question|join('') }}</textarea>
            {% endfor %}
            <input type="submit" value="Apply changes">
        {% else %}
            <p class="error-header">You do not have permission to edit this test</p>
        {% endif %}
        </form>
    </main>
{% endblock %}